
/** -- global **/
html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: #1a1a1a;    
    font-family: sans-serif;
}

/** header **/
#header-top .header-top__pad {
    background: #232323;
    padding: 5px;
    color: #fff;
}

/** container **/

/** footer **/
#footer-copy .footer-copy__pad {
    background: #232323;
    padding: 5px;
    color: #fff;
}