/** -- style-sheets : charlycapillanes (charly23) -- **/

/** -- global **/
html, body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}
ul, li {
    padding: 0;
    margin: 0;
}

/** header **/
#header-top.header-in {

}
#header-top .header-top__pad {
    background: #6495ed;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
#header-top .header-top__pad .header-top__inner {
    width: 960px;
    margin: auto;
    padding: 0px 5px;
    position: relative;
}
#header-top .header-top__pad span.header-top__logo {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
#header .header__pad {
    border-bottom: 1px solid #dedede;
    padding: 5px;
}
#header-top .top-menu {
    display: none;
}
#header-top.header-in .top-menu {
    position: absolute;
    height: 220px;
    width: 180px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #dedede;
    top: 23px;
}
#header-top.header-in .top-menu ul.menu-item li {
    border-bottom: 1px solid #dedede;
    padding-left: 5px;
    list-style: none;
}
#header-top.header-in .top-menu ul.menu-item li span {
    display: inline-block;
    width: 100%;
    color: #000;
    font-weight: normal;
    padding: 5px 0px;
    cursor: pointer;
    font-size: 12px;
}
/** container **/

/** container - login-form **/
.login__form {
    display: block;
    width: 240px;
    margin: auto;
}
.login__form.login-name-in.login-password-in {
    display: none;
}
.login__form .login__form-pad {
    padding: 25px 0;
}
.login__form .login__form-pad .login__form-name,
.login__form .login__form-pad .login__form-password {
    margin-bottom: 15px;
}
.login__form .login__form-pad .login__form-name label,
.login__form .login__form-pad .login__form-password label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.login__form .login__form-pad .login__form-name input,
.login__form .login__form-pad .login__form-password input {
    width: 100%;
    padding: 5px;
    background-color: #f0f8ff;
    border: 0;
}
.login__form .login__form-pad .login__form-name input.form-name-validate,
.login__form .login__form-pad .login__form-password input.form-password-validate {
    background-color: #ffb6c1;
}
.login__form .login__form-pad .login__form-submit input {
    background: #000;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px; 
}

/** container - home **/
.home__pad {
    display: none;
}
.home__pad.login-name-in.login-password-in {
    display: block;
    width: 960px;
    margin: auto;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 5px;
    
}

/** footer **/
#footer .footer__pad {
    border-top: 1px solid #dedede;
    padding: 5px;
}
#footer-copy .footer-copy__pad {
    background: #6495ed;
    padding: 5px;
    color: #fff;
}
#footer-copy .footer-copy__pad span.footer-copy__name {
    font-size: 12px;
    display: inline-block;
    width: 100%;
}

/** media **/